* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------------------Paramètre de base--------------------------------*/
/*----------------------------------------------------------------------------------------*/

body {
  /* Ici on utilise le sélecteur body pour appliquer une police et une taille par défaut pour les éléments */
  font-family: 'Economica', 'sans-serif';
  background-color: #c84a27;
  z-index: 0;
}

a {
  color: white;
  text-decoration: none;
}


h1 {
  font-size: 2.5em;
  font-family: 'Sigmar', sans-serif;
  color: wheat;
}

h2 {
  font-size: 2em;
  color: #c84a27;
  font-family: 'Sigmar', sans-serif;
}


section {
  padding-top: 80px;
  background-color: #c84a27;
}


img:hover {
  opacity: 0.5;
}

/*-----------------------------------------Navigation----------------------------------*/

nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #242526;
}

nav .wrapper {
  position: relative;
  max-width: 1300px;
  padding: 0px 50px;
  height: 120px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 100px;
  /* Ajustez la largeur selon vos besoins */
  height: auto;
  /* Ajustez la hauteur automatiquement pour maintenir les proportions */
  position: relative;
  top: 10px;
  /* Ajustez la valeur de décalage horizontal selon vos besoins */
}

.texte-logo {
  position: relative;
  left: 15px;
  bottom: 20px;
}

.wrapper .logo a {
  color: #f2f2f2;
  font-size: 40px;
  font-family: 'Sigmar', sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.wrapper .nav-links {
  display: inline-flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  padding: 15px 15px;
  border-radius: 5px;
  transition: all 0.1s ease;
}

.nav-links li a:hover {
  background: #3A3B3C;
  border-radius: 5px; /* Arrondit tous les coins avec un rayon de 10 pixels */
}

.nav-links .mobile-item {
  display: none;
}


.nav-links .drop-menu {
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  padding: 20px;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  transition: all 0.2s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}

.mega-box {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  padding: 0 10px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}

.mega-box .content {
  position: absolute;
  top: 15px;
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 110%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mega-box .content .row {
  width: calc(25% - 30px);
  line-height: 45px;
}

.content .row img {
  width: 100%;
  height: 100%;
  padding-right: 22px;
  object-fit: cover;
}

.content .row header {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}

.content .row .mega-links {
  margin-left: -7px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.row .mega-links li {
  padding: 0 20px;
}

.row .mega-links li a {
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}

.row .mega-links li a:hover {
  color: #f2f2f2;
}

.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.wrapper .btn.close-btn {
  position: relative;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper .btn {
      display: block;
  }

  .wrapper .nav-links {
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 350px;
      top: 0;
      left: -100%;
      background: #242526;
      display: block;
      padding: 10px 10px;
      line-height: 50px;
      overflow-y: auto;
      box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
      transition: all 0.3s ease;
  }

  /* custom scroll bar */
  ::-webkit-scrollbar {
      width: 10px;
  }

  ::-webkit-scrollbar-track {
      background: #242526;
  }

  ::-webkit-scrollbar-thumb {
      background: #3A3B3C;
  }

  #menu-btn:checked~.nav-links {
      left: 0%;
  }

  #menu-btn:checked~.btn.menu-btn {
      display: none;
  }

  #close-btn:checked~.btn.menu-btn {
      display: block;
  }

  .nav-links li {
      margin: 15px 10px;
  }

  .nav-links li a {
      padding: 0 20px;
      display: block;
      font-size: 20px;
  }

  .nav-links .drop-menu {
      position: static;
      opacity: 1;
      top: 65px;
      visibility: visible;
      padding-left: 20px;
      width: 100%;
      max-height: 0px;
      overflow: hidden;
      box-shadow: none;
      transition: all 0.3s ease;
  }

  #showDrop:checked~.drop-menu,
  #showMega:checked~.mega-box {
      max-height: 100%;
  }

  .nav-links .desktop-item {
      display: none;
  }


  .nav-links .mobile-item {
      display: block;
      color: #f2f2f2;
      font-size: 20px;
      font-weight: 500;
      padding-left: 20px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease;
  }

  .nav-links .mobile-item:hover {
      background: #3A3B3C;
  }

  .drop-menu li {
      margin: 0;
  }

  .drop-menu li a {
      border-radius: 5px;
      font-size: 18px;
  }

  .mega-box {
      position: sticky;
      top: 120px;
      opacity: 1;
      visibility: visible;
      padding: 0 20px;
      max-height: 0px;
      overflow: hidden;
      transition: all 0.3s ease;
  }

  .mega-box .content {
      box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
      flex-direction: column;
      padding: 20px 20px 0 20px;
  }

  .mega-box .content .row {
      width: 100%;
      margin-bottom: 15px;
      border-top: 1px solid rgba(255, 255, 255, 0.08);
  }

  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
      border-top: 0px;
  }

  .content .row .mega-links {
      border-left: 0px;
      padding-left: 15px;
  }

  .row .mega-links li {
      margin: 0;
  }

  .content .row header {
      font-size: 19px;
  }

}

nav input {
  display: none;
}


/*----------------------------------Image Accueil-------------------------------------*/

.image-acceuil {
  position: relative;
  width: 100%;
  z-index: 1;
}

.image-acceuil img {
  width: 100%;
  display: block;
  opacity: 1;
  z-index: 1;
}

.image-acceuil::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 0%;
  width: 90%;
  height: 70%;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

.texte-sur-image h1 {
  position: absolute;
  top: 45%;
  left: 40%;
  transform: translate(-40%, -100%);
  z-index: 2;
  font-size: 6.5em;
  text-align: left;
  color: wheat;
  line-height: 1;
  padding-bottom: 30px;
}


.text {
  position: absolute;
  top: 45%;
  left: 35%;
  right: 20%;
  transform: translate(-40%, 0%);
  z-index: 2;
  font-size: 30px;
  text-align: justify;
  color: #c84a27;
  padding: auto;
}

.by {
  position: absolute;
  top: 65%;
  /* Ajustement de la position verticale */
  left: 35%;
  /* Ajustement de la position horizontale */
  right: 20%;
  transform: translate(-40%, -50%);
  /* Ajustement de la translation */
  z-index: 2;
  font-size: 30px;
  /* Réduction de la taille de la police pour la mention 'by' */
  text-align: justify;
  color: wheat;
  font-style: italic;
}


.titre-centre {
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: wheat;
}

.texte-sur-image p {
  color: wheat;
}


/*------------------------------------------------------------------------------------*/

.cta {
  background: linear-gradient(#8E86B5, #ACAEED);
  color: wheat;
  border-radius: 50px;
  padding: 20px 50px;
  position: relative;
  top: 20px;
}

.carre-contenu {
  border-right: 1px solid wheat;
  border-bottom: 1px solid wheat;
  padding: 50px;
}

/* a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration-color: #1F2039;
}

a:focus {
  background-color: aqua;
  color: aliceblue;
}

a:visited {
  color: white;
} */

.cta:hover {
  background: linear-gradient(#696484, #8788ba);
  text-decoration: none;
}

.lien-icone:hover {
  opacity: 0.5;
}

.lien-icone {
  margin-left: 30px;
}


.accueil-photos {
  background-color: wheat;
  padding: 80px;
}

.accueil-photos h2 {
  color: #242424;
  text-align: center;
  margin-bottom: 80px;
}

.accueil-photos div {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
}

.accueil-introduction {
  display: flex;
  flex-direction: row;
  width: 70%;
  align-items: center;
  margin: auto;
}

table {
  border-collapse: collapse;
  margin: auto;
}

caption {
  color: wheat;
  padding: 15px;
}

.section-contact h2 {
  color: wheat;
  text-align: center;
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  color: wheat;
}

.form-nom-email {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input,
textarea {
  padding: 15px;
  border-radius: 3px;
  border: none;
}

label {
  margin-bottom: 10px;
}

input[type='submit'] {
  width: 200px;
  margin: auto;
  margin-top: 30px;
}

/*----------------------------------------à propos---------------------------------------*/

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.centered h1 {
  position: relative;
  transform: translate(20%, 20%);
}

.card {
  position: relative;
  transform: translate(20%, 20%);
  width: 30%;
  background: #c84a27;
  margin-bottom: 30px;
}

.card .image {
  width: 100%;
  height: 105%;
  overflow: hidden;
}

.card .image img {
  width: 100%;
  transition: .5s;
}

.card:hover .image img {
  opacity: .5;
  transform: translateX(30%);
  /*100%*/
}

.card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  /*100%*/
  height: 100%;
  background: wheat;
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}

.card:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}

.card .details .center {
  padding: 50px;
  width: 100%;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.card .details .center h1 {
  margin: 0;
  padding: 0;
  color: #c84a27;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

.card .details .center h1 span {
  font-size: 14px;
  color: #262626;
}

.card .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #262626;
}

.card .details .center ul {
  margin: 10px auto 0;
  padding: 0;
  display: table;
}

.card .details .center ul li {
  list-style: none;
  margin: 0 5px;
  float: left;
}

.card .details .center ul li a {
  display: block;
  background: #262626;
  color: wheat;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transform: .5s;
}

.card .details .center ul li a:hover {
  background: #ff3636;
}

.mirror {
  transform: scaleX(-1);
}


/*----------------------------------------Bas de page------------------------------------*/

footer {
  background-color: #333;
  /* Couleur de fond du footer */
  color: #fff;
  /* Couleur du texte */
  padding: 20px;
  /* Espacement interne */
  margin-top: 40px;
  text-align: center;
  /* Alignement du contenu au centre */
}

/* Styles pour les icônes des réseaux sociaux */
.lien-icone {
  display: inline-block;
  /* Affichage en ligne pour les icônes */
  margin: 0 10px;
  /* Marge horizontale entre les icônes */
}

/* Styles pour les icônes */
.lien-icone img {
  width: 30px;
  /* Largeur des icônes */
  height: 30px;
  /* Hauteur des icônes */
}

.footer img {
  size: 50px;
}

.logo-footer img {
  width: 200px;
  /* Ajustez la largeur selon vos besoins */
  height: auto;
  /* Ajustez la hauteur automatiquement pour maintenir les proportions */
  padding: 10px;
}
